*{
    margin: 0;
    position: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background: royalblue;
}

.contenedor{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.slider-contenedor{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}

.slider-test{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    align-items: center;
}

img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}